.uix-transition-md {
  --uix-page-transition-duration: 400ms;
  --uix-page-swipeback-transition-duration: 250ms;
  --uix-page-transtion-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
}

.uix-transition-ios {
  --uix-page-transition-duration: 500ms;
  --uix-page-swipeback-transition-duration: 500ms;
  --uix-page-transtion-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
}

.uix-transition-fade {
  --uix-page-transition-duration: 400ms;
  --uix-page-swipeback-transition-duration: 400ms;
}

@import "transition-ios";
@import "transition-md";
@import "transition-fade";
