/* color */

$magenta: #570327 !default;
$red: #f44336 !default;
$white: #ffffff !default;
$black: #000000 !default;
$dark: #323a45 !default;
$light: #eeeeee !default;
$green: #43a047 !default;
$grey: #9ea7b3 !default;
$blue: #2196f3 !default;
$yellow: #e9b945 !default;
$orange: #f27935 !default;
$purple: #673ab7 !default;
$teal: rgb(0, 150, 136) !default;
$colorsList: (
  white: $white,
  black: $black,
  dark: $dark,
  yellow: $yellow,
  blue: $blue,
  orange: $orange,
  red: $red,
  green: $green,
  purple: $purple,
  teal: $teal
);
$themeColor: $blue;
$themeColorIos: $themeColor;
$themeColorMd: $themeColor;
$colors: $colorsList;
$colorsIos: $colors;
$colorsMd: $colors;
/* grid system */

$grid-columns: 12 !default;
$grid-spacing: 15px !default;
$grid-gutter: $grid-spacing !default;
/*Container sizes */

$container-sm: (720px + $grid-columns) !default;
$container-md: (940px + $grid-columns) !default;
$container-lg: (1140px + $grid-columns) !default;
/* zindex */

$z-index-view: 1 !default;
$z-index-view-below: 2 !default;
$z-index-view-above: 3 !default;
/* border-radius */

$radius-xs: 2px !default;
$radius-sm: 3px !default;
$radius-md: 4px !default;
$radius-lg: 5px !default;
/* screen devise */

$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

/* vanilla css var */

:root {
  --uix-color-blue: #007aff;
  --uix-color-magenta: #570327;
  --uix-color-red: #f44336;
  --uix-color-green: #43a047;
  --uix-color-yellow: #e9b945;
  --uix-color-teal: rgb(0, 150, 136);
  --uix-color-purple: #673ab7;
  --uix-color-orange: #f27935;
  --uix-color-grey: #9ea7b3;
  --uix-color-light: #eeeeee;
  --uix-color-dark: #323a45;
  --uix-theme-color: #007aff;
  --uix-theme-color-rgb: 33, 150, 243;
  --uix-theme-color-shade: #0c82df;
  --uix-theme-color-tint: #48a8f5;
  --uix-bars-bg-image: none;
  --uix-bars-bg-color: #f7f7f8;
  --uix-bars-bg-color-rgb: 247, 247, 248;
  --uix-bars-border-color: #c8c7cc;
  --uix-bars-text-color: #000;
  --uix-bars-link-color: var(--uix-theme-color);
  --uix-bars-shadow-bottom-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.08) 40%,
    rgba(0, 0, 0, 0.04) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  --uix-bars-shadow-top-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.08) 40%,
    rgba(0, 0, 0, 0.04) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.uix-ios {
  --uix-bars-border-color: #c8c7cc;
}

.uix-md {
  --uix-bars-border-color: transparent;
}

@import "vars-ios";
@import "vars-md";
