:root {
    --uix-list-bg-color: #fff;
    --uix-list-item-text-max-lines: 2;
    --uix-list-chevron-icon-color: #c7c7cc;
    --uix-list-item-title-font-size: inherit;
    --uix-list-item-title-font-weight: 400;
    --uix-list-item-title-text-color: inherit;
    --uix-list-item-title-line-height: inherit;
    --uix-list-item-title-white-space: nowrap;
    --uix-list-item-subtitle-font-weight: 400;
    --uix-list-item-subtitle-text-color: inherit;
    --uix-list-item-subtitle-line-height: inherit;
    --uix-list-item-header-text-color: inherit;
    --uix-list-item-header-font-size: 12px;
    --uix-list-item-header-font-weight: 400;
    --uix-list-item-header-line-height: 1.2;
    --uix-list-item-footer-font-size: 12px;
    --uix-list-item-footer-font-weight: 400;
    --uix-list-item-footer-line-height: 1.2;
}

.uix-ios {
    --uix-list-inset-side-margin: 15px;
    --uix-list-inset-border-radius: 7px;
    --uix-list-margin-vertical: 35px;
    --uix-list-font-size: 17px;
    --uix-list-chevron-icon-area: 20px;
    --uix-list-border-color: #c8c7cc;
    --uix-list-item-border-color: #c8c7cc;
    --uix-list-link-pressed-bg-color: #d9d9d9;
    --uix-list-item-subtitle-font-size: 15px;
    --uix-list-item-text-font-size: 15px;
    --uix-list-item-text-font-weight: 400;
    --uix-list-item-text-text-color: #8e8e93;
    --uix-list-item-text-line-height: 21px;
    --uix-list-item-after-font-size: inherit;
    --uix-list-item-after-font-weight: 400;
    --uix-list-item-after-text-color: #8e8e93;
    --uix-list-item-after-line-height: inherit;
    --uix-list-item-after-padding: 5px;
    --uix-list-item-footer-text-color: #8e8e93;
    --uix-list-item-min-height: 44px;
    --uix-list-item-media-margin: 15px;
    --uix-list-item-media-icons-margin: 5px;
    --uix-list-item-cell-margin: 15px;
    --uix-list-item-padding-vertical: 8px;
    --uix-list-item-padding-horizontal: 15px;
    --uix-list-media-item-padding-vertical: 10px;
    --uix-list-media-item-padding-horizontal: 15px;
    /*
  --uix-list-button-text-color: var(--uix-theme-color);
  */
    --uix-list-button-font-size: inherit;
    --uix-list-button-font-weight: 400;
    --uix-list-button-text-align: center;
    --uix-list-button-border-color: #c8c7cc;
    --uix-list-button-pressed-bg-color: #d9d9d9;
    --uix-list-item-divider-height: 31px;
    --uix-list-item-divider-text-color: #8e8e93;
    --uix-list-item-divider-font-size: inherit;
    --uix-list-item-divider-font-weight: 400;
    --uix-list-item-divider-bg-color: #f7f7f7;
    --uix-list-item-divider-line-height: inherit;
    --uix-list-item-divider-border-color: #c8c7cc;
    --uix-list-group-title-height: 31px;
    --uix-list-group-title-text-color: #8e8e93;
    --uix-list-group-title-font-size: inherit;
    --uix-list-group-title-font-weight: 400;
    --uix-list-group-title-bg-color: #f7f7f7;
    --uix-list-group-title-line-height: inherit;

    .uix-theme-dark,
    &.uix-theme-dark {
        --uix-list-bg-color: #1c1c1d;
        --uix-list-border-color: #282829;
        --uix-list-button-border-color: #282829;
        --uix-list-item-border-color: #282829;
        --uix-list-item-divider-border-color: #282829;
        --uix-list-item-divider-bg-color: #232323;
        --uix-list-group-title-bg-color: #232323;
        --uix-list-link-pressed-bg-color: #363636;
        --uix-list-button-pressed-bg-color: #363636;
        --uix-list-chevron-icon-color: #434345;
    }
}

.uix-md {
    --uix-list-inset-side-margin: 16px;
    --uix-list-inset-border-radius: 4px;
    --uix-list-margin-vertical: 32px;
    --uix-list-font-size: 16px;
    --uix-list-chevron-icon-area: 26px;
    --uix-list-border-color: rgba(0, 0, 0, 0.12);
    --uix-list-item-border-color: rgba(0, 0, 0, 0.12);
    --uix-list-link-pressed-bg-color: rgba(0, 0, 0, 0.1);
    --uix-list-item-subtitle-font-size: 14px;
    --uix-list-item-text-font-size: 14px;
    --uix-list-item-text-font-weight: 400;
    --uix-list-item-text-text-color: #757575;
    --uix-list-item-text-line-height: 20px;
    --uix-list-item-after-font-size: 14px;
    --uix-list-item-after-font-weight: 400;
    --uix-list-item-after-text-color: #757575;
    --uix-list-item-after-line-height: inherit;
    --uix-list-item-after-padding: 8px;
    --uix-list-item-footer-text-color: rgba(0, 0, 0, 0.5);
    --uix-list-item-min-height: 48px;
    --uix-list-item-media-margin: 16px;
    --uix-list-item-media-icons-margin: 8px;
    --uix-list-item-cell-margin: 16px;
    --uix-list-item-padding-vertical: 8px;
    --uix-list-item-padding-horizontal: 16px;
    --uix-list-media-item-padding-vertical: 14px;
    --uix-list-media-item-padding-horizontal: 16px;
    --uix-list-button-text-color: #212121;
    --uix-list-button-font-size: inherit;
    --uix-list-button-font-weight: 400;
    --uix-list-button-text-align: left;
    --uix-list-button-border-color: transparent;
    --uix-list-button-pressed-bg-color: rgba(0, 0, 0, 0.1);
    --uix-list-item-divider-height: 48px;
    --uix-list-item-divider-text-color: rgba(0, 0, 0, 0.54);
    --uix-list-item-divider-font-size: 14px;
    --uix-list-item-divider-font-weight: 400;
    --uix-list-item-divider-bg-color: #f4f4f4;
    --uix-list-item-divider-line-height: inherit;
    --uix-list-item-divider-border-color: transparent;
    --uix-list-group-title-height: 48px;
    --uix-list-group-title-text-color: rgba(0, 0, 0, 0.54);
    --uix-list-group-title-font-size: 14px;
    --uix-list-group-title-font-weight: 400;
    --uix-list-group-title-bg-color: #f4f4f4;
    --uix-list-group-title-line-height: inherit;

    .uix-theme-dark,
    &.uix-theme-dark {
        --uix-list-bg-color: #1c1c1d;
        --uix-list-border-color: #282829;
        --uix-list-button-text-color: #fff;
        --uix-list-item-border-color: #282829;
        --uix-list-item-divider-border-color: #282829;
        --uix-list-item-divider-bg-color: #232323;
        --uix-list-item-divider-text-color: #fff;
        --uix-list-group-title-bg-color: #232323;
        --uix-list-group-title-text-color: #fff;
        --uix-list-link-pressed-bg-color: rgba(255, 255, 255, 0.05);
        --uix-list-button-pressed-bg-color: rgba(255, 255, 255, 0.05);
        --uix-list-chevron-icon-color: #434345;
        --uix-list-item-text-text-color: rgba(255, 255, 255, 0.54);
        --uix-list-item-after-text-color: rgba(255, 255, 255, 0.54);
        --uix-list-item-footer-text-color: rgba(255, 255, 255, 0.54);
    }
}

@mixin item-row() {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@mixin item-cell() {
    display: block;
    align-self: center;
    box-sizing: border-box;
}

.list {
    position: relative;
    z-index: 1;
    font-size: var(--uix-list-font-size);
    margin: var(--uix-list-margin-vertical) 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        background: var(--uix-list-bg-color);
        @include hairline(top, var(--uix-list-border-color));
        @include hairline(bottom, var(--uix-list-border-color));

        ul {
            @include hairline-remove(top);
            @include hairline-remove(bottom);
        }
    }

    li {
        position: relative;
        box-sizing: border-box;
    }

    .item-media {
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: var(--uix-list-item-padding-vertical);
        padding-top: var(--uix-list-item-padding-vertical);

        +.item-inner {
            margin-left: var(--uix-list-item-media-margin);
        }
    }

    .item-media {

        i+i,
        i+img {
            margin-left: var(--uix-list-item-media-icons-margin);
        }
    }

    .item-after {
        padding-left: var(--uix-list-item-after-padding);
    }

    .item-inner {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        min-width: 0;
        @include item-row();
        align-items: center;
        align-self: stretch;
        padding-top: var(--uix-list-item-padding-vertical);
        padding-bottom: var(--uix-list-item-padding-vertical);
        min-height: var(--uix-list-item-min-height);
        padding-right: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
    }

    .item-title {
        min-width: 0;
        flex-shrink: 1;
        white-space: var(--uix-list-item-title-white-space);
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: var(--uix-list-item-title-font-size);
        font-weight: var(--uix-list-item-title-font-weight);
        color: var(--uix-list-item-title-text-color);
        line-height: var(--uix-list-item-title-line-height);
    }

    .item-after {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: var(--uix-list-item-after-font-size);
        font-weight: var(--uix-list-item-after-font-weight);
        color: var(--uix-list-item-after-text-color);
        line-height: var(--uix-list-item-after-line-height);
        margin-left: auto;
    }

    .item-header,
    .item-footer {
        white-space: normal;
    }

    .item-header {
        color: var(--uix-list-item-header-text-color);
        font-size: var(--uix-list-item-header-font-size);
        font-weight: var(--uix-list-item-header-font-weight);
        line-height: var(--uix-list-item-header-line-height);
    }

    .item-footer {
        color: var(--uix-list-item-footer-text-color);
        font-size: var(--uix-list-item-footer-font-size);
        font-weight: var(--uix-list-item-footer-font-weight);
        line-height: var(--uix-list-item-footer-line-height);
    }

    .item-link,
    .list-button {
        transition-duration: 300ms;
        transition-property: background-color;
        display: block;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        z-index: 0;
    }

    .item-link {
        color: inherit;

        &.active-state {
            background-color: var(--uix-list-link-pressed-bg-color);
        }

        .item-inner {
            padding-right: calc(var(--uix-list-chevron-icon-area) + var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
        }
    }

    .item-content {
        @include item-row();
        box-sizing: border-box;
        align-items: center;
        min-height: var(--uix-list-item-min-height);
        padding-left: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-left));
    }

    .item-subtitle {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        font-size: var(--uix-list-item-subtitle-font-size);
        font-weight: var(--uix-list-item-subtitle-font-weight);
        color: var(--uix-list-item-subtitle-text-color);
        line-height: var(--uix-list-item-subtitle-line-height);
    }

    .item-text {
        position: relative;
        overflow: hidden;
        text-overflow: hidden;
        -webkit-line-clamp: var(--uix-list-item-text-max-lines);
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: var(--uix-list-item-text-font-size);
        font-weight: var(--uix-list-item-text-font-weight);
        color: var(--uix-list-item-text-text-color);
        line-height: var(--uix-list-item-text-line-height);
        max-height: calc(var(--uix-list-item-text-line-height) * var(--uix-list-item-text-max-lines));
    }

    .item-title-row {
        position: relative;
        @include item-row();

        .item-after {
            align-self: center;
        }
    }

    .item-row {
        @include item-row();
    }

    .item-cell {
        @include item-cell();
        width: 100%;
        min-width: 0;
        margin-left: var(--uix-list-item-cell-margin);

        &:first-child {
            margin-left: 0;
        }

        flex-shrink: 1;
    }

    .ripple-wave+.item-cell {
        margin-left: 0;
    }

    li {
        &:last-child {
            .list-button {
                @include hairline-remove(bottom);
            }
        }

        &:last-child,
        &:last-child li:last-child {

            >.item-inner,
            >.item-content>.item-inner,
            >.swipeout-content>.item-content>.item-inner,
            >.item-link>.item-content>.item-inner {
                @include hairline-remove(bottom);
            }
        }

        li:last-child,
        &:last-child li {
            .item-inner {
                @include hairline(bottom, var(--uix-list-item-border-color));
            }
        }
    }

    @include no-hairlines();
    @include no-hairlines-between();
}

.list-button {
    padding: 0 var(--uix-list-item-padding-horizontal);
    line-height: var(--uix-list-item-min-height);
    color: var(--uix-list-button-text-color, var(--uix-theme-color));
    font-size: var(--uix-list-button-font-size);
    font-weight: var(--uix-list-button-font-weight);
    text-align: var(--uix-list-button-text-align);
    @include hairline(bottom, var(--uix-list-button-border-color));

    &.active-state {
        background-color: var(--uix-list-button-pressed-bg-color);
    }
}

.list-button[class*="color-"] {
    --uix-list-button-text-color: var(--uix-theme-color);
}

.simple-list {
    li {
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        line-height: var(--uix-list-item-min-height);
        height: var(--uix-list-item-min-height);
        padding-left: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-left));
        padding-right: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
    }

    li:after {
        left: var(--uix-list-item-padding-horizontal);
        right: 0;
        width: auto;
        left: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-left));
        right: 0;
    }

    li:last-child {
        @include hairline-remove(bottom);
    }
}

.links-list {
    li {
        z-index: 1;
    }

    a {
        transition-duration: 300ms;
        transition-property: background-color;
        display: block;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        height: var(--uix-list-item-min-height);
        color: inherit;

        .ripple-wave {
            z-index: 0;
        }

        &:after {
            width: auto;
        }

        &.active-state {
            background-color: var(--uix-list-link-pressed-bg-color);
        }
    }

    a {
        padding-left: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-left));
        padding-right: calc(var(--uix-list-chevron-icon-area) + var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
    }

    a:after {
        left: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-left));
        right: 0;
    }

    li:last-child a {
        @include hairline-remove(bottom);
    }
}

.simple-list li,
.links-list a,
.list .item-inner {
    @include hairline(bottom, var(--uix-list-item-border-color));
}

.media-list,
li.media-item {
    --uix-list-item-padding-vertical: var(--uix-list-media-item-padding-vertical);
    --uix-list-item-padding-horizontal: var(--uix-list-media-item-padding-horizontal);

    .item-inner {
        display: block;
        align-self: stretch;
    }

    .item-media {
        align-self: flex-start;

        img {
            display: block;
        }
    }

    .item-link .item-inner {
        padding-right: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
    }

    .item-link .item-title-row {
        padding-right: calc(var(--uix-list-chevron-icon-area));
    }
}

.media-list.chevron-center .item-link .item-inner,
.media-list .chevron-center .item-link .item-inner,
.media-list .item-link.chevron-center .item-inner,
li.media-item.chevron-center .item-link .item-inner,
li.media-item .item-link.chevron-center .item-inner,
li.media-item .chevron-center .item-link .item-inner {
    padding-right: calc(var(--uix-list-chevron-icon-area) + var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
}

.media-list.chevron-center .item-title-row,
.media-list .chevron-center .item-title-row,
li.media-item.chevron-center .item-title-row,
li.media-item .chevron-center .item-title-row {
    padding-right: 0;
}

.list .item-link .item-inner,
.links-list a,
.media-list .item-link .item-title-row,
li.media-item .item-link .item-title-row,
.media-list.chevron-center .item-link .item-inner,
.media-list .chevron-center .item-link .item-inner,
.media-list .item-link.chevron-center .item-inner,
li.media-item.chevron-center .item-link .item-inner,
li.media-item .chevron-center .item-link .item-inner,
li.media-item .item-link.chevron-center .item-inner {
    &:before {
        position: absolute;
        top: 50%;
        width: 8px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='8px' height='13px' viewBox='0 0 8 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23c7c7cc' transform='translate(1.500000, 6.500000) rotate(-45.000000) translate(-1.500000, -6.500000) ' points='6 11 6 2 4 2 4 9 -3 9 -3 11 5 11'%3E%3C/polygon%3E%3C/svg%3E");
        margin-top: -7px;
        font-size: 20px;
        line-height: 14px;
        color: var(--uix-list-chevron-icon-color);
        pointer-events: none;
        right: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
        content: " ";
    }
}

.media-list.chevron-center .item-title-row,
.media-list .chevron-center .item-title-row,
li.media-item.chevron-center .item-title-row,
li.media-item .chevron-center .item-title-row {
    &:before {
        display: none;
    }
}

.media-list .item-link .item-inner,
li.media-item .item-link .item-inner {
    &:before {
        display: none;
    }
}

.media-list .item-link .item-title-row,
li.media-item .item-link .item-title-row {
    &:before {
        right: 0;
    }
}

.list-group {
    ul {

        &:after,
        &:before {
            z-index: 25 !important;
        }
    }

    +.list-group ul {
        @include hairline-remove(top);
    }
}

li.item-divider,
.item-divider,
li.list-group-title {
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 15;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-left));
    padding-right: calc(var(--uix-list-item-padding-horizontal) + var(--uix-safe-area-right));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    @include hairline-remove(bottom);
}

li.item-divider,
.item-divider {
    margin-top: -1px;
    height: var(--uix-list-item-divider-height);
    color: var(--uix-list-item-divider-text-color);
    font-size: var(--uix-list-item-divider-font-size);
    font-weight: var(--uix-list-item-divider-font-weight);
    background-color: var(--uix-list-item-divider-bg-color);
    line-height: var(--uix-list-item-divider-line-height);
    @include hairline(top, var(--uix-list-item-divider-border-color));
}

li.list-group-title,
.list li.list-group-title {
    position: relative;
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 20;
    height: var(--uix-list-group-title-height);
    color: var(--uix-list-group-title-text-color);
    font-size: var(--uix-list-group-title-font-size);
    font-weight: var(--uix-list-group-title-font-weight);
    background-color: var(--uix-list-group-title-bg-color);
    line-height: var(--uix-list-group-title-line-height);

    .page-with-navbar-large & {
        top: calc(-1 * var(--uix-navbar-large-title-height));
    }
}

.list.inset {
    margin-left: calc(var(--uix-list-inset-side-margin) + var(--uix-safe-area-outer-left));
    margin-right: calc(var(--uix-list-inset-side-margin) + var(--uix-safe-area-outer-right));
    border-radius: var(--uix-list-inset-border-radius);
    --uix-safe-area-left: 0px;
    --uix-safe-area-right: 0px;

    .block-title {
        margin-left: 0;
        margin-right: 0;
    }

    ul {
        border-radius: var(--uix-list-inset-border-radius);
        @include hairline-remove(top);
        @include hairline-remove(bottom);
    }

    li.swipeout:first-child,
    li:first-child>a {
        border-radius: var(--uix-list-inset-border-radius) var(--uix-list-inset-border-radius) 0 0;
    }

    li.swipeout:last-child,
    li:last-child>a {
        border-radius: 0 0 var(--uix-list-inset-border-radius) var(--uix-list-inset-border-radius);
    }

    li.swipeout:first-child:last-child,
    li:first-child:last-child>a {
        border-radius: var(--uix-list-inset-border-radius);
    }
}

@media (min-width: 768px) {
    .list.tablet-inset {
        margin-left: calc(var(--uix-list-inset-side-margin) + var(--uix-safe-area-outer-left));
        margin-right: calc(var(--uix-list-inset-side-margin) + var(--uix-safe-area-outer-right));
        border-radius: var(--uix-list-inset-border-radius);
        --uix-safe-area-left: 0px;
        --uix-safe-area-right: 0px;

        .block-title {
            margin-left: 0;
            margin-right: 0;
        }

        ul {
            border-radius: var(--uix-list-inset-border-radius);
            @include hairline-remove(top);
            @include hairline-remove(bottom);
        }

        li:first-child>a {
            border-radius: var(--uix-list-inset-border-radius) var(--uix-list-inset-border-radius) 0 0;
        }

        li:last-child>a {
            border-radius: 0 0 var(--uix-list-inset-border-radius) var(--uix-list-inset-border-radius);
        }

        li:first-child:last-child>a {
            border-radius: var(--uix-list-inset-border-radius);
        }
    }
}

.list {

    &.no-chevron,
    .no-chevron {
        --uix-list-chevron-icon-color: transparent;
        --uix-list-chevron-icon-area: 0px;
    }
}

@import "list-ios";
@import "list-md";
