:root {
  --uix-statusbar-height: 0px;
  --uix-statusbar-bg-color: var(--uix-bars-bg-color);
}

.device-ios {
  --uix-statusbar-height: var(--uix-safe-area-top, 20px);
}

.device-android {
  --uix-statusbar-height: var(--uix-safe-area-top, 24px);
}

.with-statusbar {
  &.uix-ios:not(.device-ios):not(.device-android) {
    --uix-statusbar-height: 20px;
  }
  &.uix-md:not(.device-ios):not(.device-android) {
    --uix-statusbar-height: 24px;
  }
  &.device-ios {
    @supports not (top: env(safe-area-inset-top)) {
      --uix-statusbar-height: 20px;
    }
  }
  &.device-android {
    @supports not (top: env(safe-area-inset-top)) {
      --uix-statusbar-height: 24px;
    }
  }
}

.statusbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-sizing: border-box;
  display: block;
  height: var(--uix-statusbar-height);
}

.uix-root {
  padding-top: var(--uix-statusbar-height);
}

@import "statusbar-ios";
@import "statusbar-md";
