:root {
  --app-theme-color: #850035;
  --app-color-blue: #009ADE;
  --app-color-red: #E74B3C;
  --app-color-yellow: #F1C40D;
  --app-color-green: #00AB5D;
  --app-color-orange: #EE7D04;
  --app-color-grey: #BDC2C6;
  --app-color-dark: #2E3E4F;
  --app-color-light: #ECF0F1;
  --app-color-teal: #16A085;
  --app-color-purple: #8D43AD;
}
