<uix-page>
  <uix-navbar>
    <uix-navbar-left>
      <uix-icon-back>Back</uix-icon-back>
    </uix-navbar-left>
    <uix-navbar-title><span>{{ title }}</span></uix-navbar-title>
    <uix-navbar-right></uix-navbar-right>
  </uix-navbar>

  <uix-page-content>
    <div class="list list-block">
      <ul>
        <li>
          <a routerLink="/account" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">Profile</div>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/about" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">About</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <uix-block-title>Other content</uix-block-title>
    <uix-block strong>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        obcaecati itaque ad iste numquam, sapiente doloribus corporis! Et
        dolores esse, culpa neque nihil aspernatur nisi hic veniam, quae
        consequatur dolorum.
      </p>
    </uix-block>
  </uix-page-content>
</uix-page>
