.img-responsive {
  margin: 0px auto;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.shadow-m {
  @include box-shadow(
    (0 1px 3px 0 rgba($black, 0.12), 0 1px 2px 0 rgba($black, 0.24))
  );
}

.shadow-0 {
  @include box-shadow(
    (0 2px 3px 0 rgba($black, 0.16), 0 2px 3px 0 rgba($black, 0.12))
  );
}

.shadow-1 {
  @include box-shadow(
    (0 2px 5px 0 rgba($black, 0.16), 0 2px 10px 0 rgba($black, 0.12))
  );
}

.shadow-2 {
  @include box-shadow(
    (0 8px 17px 0 rgba($black, 0.2), 0 6px 20px 0 rgba($black, 0.19))
  );
}

.shadow-3 {
  @include box-shadow(
    (0 12px 15px 0 rgba($black, 0.24), 0 17px 50px 0 rgba($black, 0.19))
  );
}

.shadow-4 {
  @include box-shadow(
    (0 16px 28px 0 rgba($black, 0.22), 0 25px 55px 0 rgba($black, 0.21))
  );
}

.shadow-5 {
  @include box-shadow(
    (0 27px 24px 0 rgba($black, 0.2), 0 40px 77px 0 rgba($black, 0.22))
  );
}
