<uix-page>
  <uix-navbar>
    <uix-navbar-left>
      <uix-icon-back>Back</uix-icon-back>
    </uix-navbar-left>
    <uix-navbar-title>
      <span>{{ title }}</span>
    </uix-navbar-title>
    <uix-navbar-right></uix-navbar-right>
  </uix-navbar>

  <uix-page-content>
    <uix-block-title>Content title</uix-block-title>
    <uix-block strong>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        obcaecati itaque ad iste numquam, sapiente doloribus corporis! Et
        dolores esse, culpa neque nihil aspernatur nisi hic veniam, quae
        consequatur dolorum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        obcaecati itaque ad iste numquam, sapiente doloribus corporis! Et
        dolores esse, culpa neque nihil aspernatur nisi hic veniam, quae
        consequatur dolorum.
      </p>
    </uix-block>
    <uix-block-title>Other content</uix-block-title>
    <uix-block strong>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        obcaecati itaque ad iste numquam, sapiente doloribus corporis! Et
        dolores esse, culpa neque nihil aspernatur nisi hic veniam, quae
        consequatur dolorum.
      </p>
    </uix-block>
  </uix-page-content>
</uix-page>
