<uix-app>

  <uix-statusbar></uix-statusbar>

  <uix-panel left cover>
    <div class="block-title">Left Panel</div>
    <div class="block">
      <p>
        This is a left side panel. You can close it by clicking outsite. You can put here anything, even another
        isolated view like in Right Panel
      </p>
    </div>
    <div class="block-title">Main View Navigation</div>
    <div class="list">
      <ul>
        <li>
          <a routerLink="/about" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">About</div>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/account/profile" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">Profile</div>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/settings" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">Settings</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </uix-panel>

  <uix-view></uix-view>

</uix-app>
