@mixin modal-backdrop() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 13000;
  visibility: hidden;
  opacity: 0;
  transition-duration: 400ms;

  &.not-animated {
    transition-duration: 0ms;
  }

  &.backdrop-in {
    visibility: visible;
    opacity: 1;
  }
}

@mixin scrollable() {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin not-scrollable() {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

// Disabled
@mixin disabled() {
  opacity: 0.55 !important;
  pointer-events: none !important;
}

@mixin core-icons-font() {
  font-family: "framework7-core-icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

@mixin ios-translucent-bars($color) {
  .ios-translucent-bars & {
    @supports (backdrop-filter: blur(20px)) {
      background-color: rgba($color, var(--f7-bars-translucent-opacity));
      backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
    }
  }
}

@mixin ios-translucent-modals($color) {
  .ios-translucent-modals & {
    @supports (backdrop-filter: blur(20px)) {
      background-color: rgba($color, 0.8);
      backdrop-filter: saturate(180%) blur(20px);
    }
  }
}

// SVG BG
@mixin svg-background($svg) {
  $url: encodeURIComponent($svg);
  background-image: url("data:image/svg+xml;charset=utf-8,#{url}");
}

@function svg($svg) {
  @return url("data:image/svg+xml,"+$svg);
}
