.uix-ios {
    .list {
        ul {
            ul {
                padding-left: calc(var(--uix-list-item-padding-horizontal) + 30px);
            }
        }
    }
    .item-link.active-state .item-inner,
    .list-button.active-state,
    .links-list a.active-state {
        @include hairline-color(bottom, transparent);
    }
    .links-list a,
    .list .item-link,
    .list .list-button {
        &.active-state {
            transition-duration: 0ms;
        }
    }
    .media-list,
    li.media-item {
        .item-title {
            font-weight: 600;
        }
    }
}
