uix-statusbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-sizing: border-box;
  display: block;
  height: var(--uix-statusbar-height);
}

.uix-ios {
  uix-statusbar {
    background: var(--uix-statusbar-bg-color, var(--uix-bars-bg-color));
  }
}

.uix-md {
  uix-statusbar {
    background: var(--uix-statusbar-bg-color, var(--uix-theme-color-shade));
  }
}
