<div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a uix-back class="link back">
          <i class="icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">{{ title }}</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">
    <div class="block-title">Content title</div>
    <div class="block block-strong">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        obcaecati itaque ad iste numquam, sapiente doloribus corporis! Et
        dolores esse, culpa neque nihil aspernatur nisi hic veniam, quae
        consequatur dolorum.
      </p>
    </div>
  </div>
</div>
