.uix-ios {
  .uix-sidenav-backdrop {
    background: rgba(0, 0, 0, 0);
    @include transition-duration(0.4s);
  }

  .panel-left:after {
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ddd;
    z-index: 1000;
  }
}
